<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    
      <ion-button color="dark" fill= "clear" slots="icon-only"  slot="end" [routerLink]="['/aggiungi']" > 
    <ion-icon size="large"  name="checkmark-outline"></ion-icon>
  </ion-button>

    <ion-title class="ion-text-center"><img src="assets/img/nuovo-acquario1.png"/></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Nome</ion-label>
      <ion-input></ion-input>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item>
      <ion-label>Capacità</ion-label>
      <ion-input></ion-input>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item>
      <ion-label>Tipologia</ion-label>
      <ion-input></ion-input>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item>
      <ion-label>Costo</ion-label>
      <ion-input></ion-input>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item>
      <ion-label>Note</ion-label>
      <ion-input></ion-input>
    </ion-item>
  </ion-list>
</ion-content>