<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title classclass="ion-text-center">Recupero-password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating" >Email*</ion-label>
      <ion-input type="email" [(ngModel)]="model.email"  pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})" maxlength="64" name="email" #email="ngModel" required></ion-input>
    </ion-item>
    <ion-list *ngIf="email.dirty && email.errors" lines="none">
      <ion-text color="danger" class="ion-margin-start ion-margin-end">Questo campo è obbligatorio</ion-text>
    </ion-list>
  </ion-list>
  <!-- <ion-button size="default" (click)="processForm(form)">
    Invia
  </ion-button> -->
  <ion-button>
    Invia
  </ion-button>
</ion-content>
