
  <img src="assets/img/aggiungi-accessorio.jpg"/>
  <ion-card>
    <ion-list>
      <ion-list-header>
        <ion-label class="ion-text-center">{{accessori.nome}}</ion-label>
      </ion-list-header>
      
      
     
      
      <ion-item>
        <ion-label>Nome	{{accessori.nome}}</ion-label>
      </ion-item>
    </ion-list>
      <!--<ion-item>
        <ion-label>Regno:	{{pesce.regno}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Phylum:{{pesce.phylum}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Classe	{{pesce.classe}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Ordine	{{pesce.ordine}}</ion-label>
      </ion-item>
    
    <ion-list-header>
      <ion-label class="ion-text-center">Nomenclatura trinomiale</ion-label>
</ion-list-header>
<ion-item>
  <ion-label class="ion-text-center">Carassius auratus auratus</ion-label>
</ion-item>
<ion-item>
  <ion-label class="ion-text-center">Linnaeus, 1758</ion-label>
</ion-item>
<ion-list-header>
  <ion-label class="ion-text-center">Nomi comuni</ion-label>
</ion-list-header>
<ion-item>
<ion-label class="ion-text-center">Carassio rosso</ion-label>
</ion-item>
<ion-item>
  <ion-label class="ion-text-center">Ciprino dorato</ion-label>
</ion-item>-->
<ion-row>
  <ion-col size="12" class="ion-text-center">
    <ion-button [routerLink]="['/aggiungi']"
      >Aggiungi
      </ion-button>
  </ion-col>
</ion-row>

    
  </ion-card>
