<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="presentToast('voglio il dolce')">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title size="small">
      <h2 class="ion-text-center">MyAcquarium store</h2>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-content>
      <ion-img src="                      "></ion-img>
    </ion-card-content>
    <ion-card-content>
      <ion-title size="large"><span style="margin: auto 7%;color:rgb(111, 118, 211);float: left;">BENVENUTO IN</span>
      </ion-title>
      <ion-img src="                      "></ion-img>
    </ion-card-content>
    <ion-card-content>
      <ion-img src="                      "></ion-img>
    </ion-card-content>
    <ion-card-content>
      <ion-img src="                      "></ion-img>
    </ion-card-content>
    <ion-card-header>
    </ion-card-header>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-img src="./assets/icona1.jpg"></ion-img>
        </ion-col>
        <ion-col>
          <ion-img src="./assets/icona3.png"></ion-img>
        </ion-col>
        <ion-col>
          <ion-img src="./assets/icona2.jpg"></ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-img src="./assets/barriera corallina.jpg"></ion-img>
  </ion-card>
  <ion-toolbar>

    <ion-title size="large"><span style="margin: auto 16%;color:rgb(111, 118, 211);">MyAcquarium</span></ion-title>

  </ion-toolbar>




</ion-content>