<ion-header> 
  <ion-toolbar color="primary">
    <ion-title size="small">
        <h2 class="ion-text-center">Crea profilo</h2>
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
    
      <ion-label position="floating">Nome</ion-label>
      <ion-input type="text" name="firstname" [(ngModel)]="profile.firstName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" >Cognome</ion-label>
      <ion-input name="lastname" [(ngModel)]="profile.lastName" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Paese</ion-label>
      <ion-input name="eventname"  [(ngModel)]="profile.eventName" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" >Città </ion-label>
      <ion-input name="hall" [(ngModel)]="profile.hall" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Cap </ion-label>
      <ion-input name="booth" [(ngModel)]="profile.booth" type="text"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button expand= "block">Invia</ion-button>
  
</ion-content>