<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Nome Acquario</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  
  <app-scheda-pesce *ngIf="appstate.searchState == 'pesci'"> </app-scheda-pesce>
  <app-scheda-piante *ngIf="appstate.searchState == 'piante'"> </app-scheda-piante>
  <app-scheda-accessori *ngIf="appstate.searchState == 'accessori'"> </app-scheda-accessori>
</ion-content>

