<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title classclass="ion-text-center">Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary">
  <div class="logo">
    <ion-img src="assets/img/logo-aquarium-clear.png"></ion-img>
  </div>
  <form #form="ngForm" (ngSubmit)="processForm(form)" novalidate>
    <ion-list>
      <ion-item color="secondary">
        <ion-label position="floating">Nome utente</ion-label>
        <ion-input type="username" [(ngModel)]="model.username" maxlength="64" name="username" #username="ngModel" required></ion-input>
      </ion-item>
      <ion-list *ngIf="username.dirty && username.errors" lines="none">
        <ion-text color="danger" class="ion-margin-start ion-margin-end">Questo campo è obbligatorio</ion-text>
      </ion-list>
    </ion-list>
    <ion-list>
      <ion-item color="secondary">
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" [(ngModel)]="model.password" maxlength="64" name="password" #password="ngModel"
          required></ion-input>
      </ion-item>
      <ion-list *ngIf="password.dirty && password.errors" lines="none">
        <ion-text color="danger" class="ion-margin-start ion-margin-end">Questo campo è obbligatorio</ion-text>
      </ion-list>
    </ion-list>
    <ion-toolbar color="secondary" style="margin-top: 80px;">
      <ion-row>
        <ion-col size="12" class="ion-text-center">
          <ion-button color="light" size="default" expand="block" (click)="processForm(form)">LOGIN</ion-button>
        </ion-col>
      </ion-row>
    </ion-toolbar>
    
  </form>
  <ion-item color="secondary">
    <ion-label>
      <p class="item-paragraph-full">
        Se non hai un account, per favore <a routerLink='/registrazione-utente'>Clicca qui!</a> 
      </p>
    </ion-label>
  </ion-item> 
  
  <!--ion-row>
    <div text-center>
      <a routerLink='/recupero-password'>
        Password dimenticata?</a> 
    </div>
  </ion-row-->
</ion-content>