<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-button fill= "clear" slots="icon-only"  slot="end" [routerLink]="['/selezione-oggetto']" > 
    <ion-icon size="large"  name="checkmark-outline"></ion-icon>
  </ion-button>
  
   <ion-title class="ion-text-center">Nome Acquario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-ricerca-pesce *ngIf="appState.state =='pesci'"></app-ricerca-pesce> 
  <app-ricerca-piante *ngIf="appState.state =='piante'"></app-ricerca-piante> 
  <app-ricerca-accessori *ngIf="appState.state =='accessori'"></app-ricerca-accessori> 
</ion-content>


