<p>
  <img src="assets/img/aggiungi-piante1.jpg"/>
  <ion-card>
    <ion-list>
      <ion-list-header>
        <ion-label class="ion-text-center">{{piante.nome}}</ion-label>
      </ion-list-header>
      
      <ion-list-header><ion-label class="ion-text-center">Classificazione scientifica</ion-label>
     </ion-list-header>
      
      <ion-item>
        <ion-label>Nome:	{{piante.nome}}</ion-label>
      </ion-item>
      
    </ion-list>

     <ion-list-header>
      <ion-label class="ion-text-center">Nomenclatura trinomiale</ion-label>
</ion-list-header>
<ion-item>
  <ion-label class="ion-text-center">Carassius auratus auratus</ion-label>
</ion-item>
<ion-item>
  <ion-label class="ion-text-center">Linnaeus, 1758</ion-label>
</ion-item>
<ion-list-header>
  <ion-label class="ion-text-center">Nomi comuni</ion-label>
</ion-list-header>
<ion-item>
<ion-label class="ion-text-center">Carassio rosso</ion-label>
</ion-item>
<ion-item>
  <ion-label class="ion-text-center">Ciprino dorato</ion-label>
</ion-item>
<ion-row>
  <ion-col size="12" class="ion-text-center">
    <ion-button [routerLink]="['/aggiungi']"
      >Aggiungi
      </ion-button>
  </ion-col>
</ion-row>

    
  </ion-card>
</p>
