<form #form="ngForm" (ngSubmit)="processForm()" novalidate>

  <!--CAMPI UTILI PER LA RICERCA-->
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label position="stacked" [color]="!pesce_commonname.valid && pesce_commonname.touched ? 'danger' : ''">Nome pesce</ion-label>
        <ion-input #searchInput placeholder="utilizza il suo nome comune" [(ngModel)]="modelSearch.nomePesce" required="true" minlength="3" #pesce_commonname="ngModel" name="pesce_commonname"></ion-input>
      </ion-item>
      <span class="ion-padding" *ngIf="!pesce_commonname.valid && pesce_commonname.touched">
        <ion-text class="helper-error" color="danger">Inserisci il nome con almeno 3 lettere</ion-text>
      </span>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-checkbox [(ngModel)]="modelSearch.validoVasca" mode="md" name="validoVasca" #validoVasca="ngModel"></ion-checkbox>
        <ion-label class="ion-text-start ion-padding-start">Valido per la vasca </ion-label>
      </ion-item>
    </ion-col>
  </ion-row>

  <!--BUTTON PER AVVIARE LA RICERCA-->
  <ion-row>
    <ion-col>
      <ion-button class="ion-padding-end ion-padding-start" [disabled]="!form.valid || pesciservice.isLoading" expand="block" type="submit" color="primary"><ion-icon slot="start" name="search-outline"></ion-icon>Cerca</ion-button>
    </ion-col>
  </ion-row>

  <!--IMMAGINE DEL CARICAMENTO-->
  <ion-progress-bar *ngIf="pesciservice.isLoading" type="indeterminate"></ion-progress-bar>
</form>

<ion-item-divider class="from-body"></ion-item-divider>

<ion-content>
  <!-- MESSAGGIO DI WARNING SENZA RISULTATI -->
  <ion-card *ngIf="formProcessed && !pesciservice.isLoading && array_pesci.length == 0" color="warning">
    <ion-card-header>
      <ion-card-subtitle>
        Nessun pesce trovato con questo nome
      </ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <!-- LISTA DEI RISULTATI DELLA RICERCA DI UN PESCE-->
  <ion-list>
    <ion-item (click)="onClick(pesce)" [routerLink]="['/selezione-oggetto']" *ngFor="let pesce of array_pesci">
      <ion-label>
        <!-- PARTE IMMAGINE -->
        <div *ngIf="pesce.fishImages.length != 0" style="width: 20%;float:left;">
          <img src="{{pesce.fishImages[0].thumbUrl}}" style="width:100%;border-radius: 5px;">
        </div>
        <div *ngIf="pesce.fishImages.length == 0" style="width: 20%;float:left;">
          <img src="assets/img/icon-fish.png/" style="width:100%;border-radius: 5px;">
        </div>
        <!-- PARTE TESTO -->
        <div style="width: 80%;padding:0px 5px;float:right">
          <p><small>Nome comune: <b>{{pesce.commonName}}</b></small></p>
          <p><small>Nome scientifico: <b>{{pesce.scientificName}}</b></small></p>
          <p><small>Zona di origine: <b>{{pesce.originZone}}</b></small></p>
        </div>
        <div style="width: 100%;padding:5px 5px 0px 0px;float:left">
          <!--BADGE PH -->
          <ion-badge *ngIf="!pesce.phAlert" color="success" slot="end" style="margin: 0px 5px 0px 0px;">PH</ion-badge>
          <ion-badge *ngIf="pesce.phAlert" color="danger" slot="end" style="margin: 0px 5px 0px 0px;">PH</ion-badge>

          <!--BADGE GH -->
          <ion-badge *ngIf="!pesce.ghAlert" color="success" slot="end" style="margin: 0px 5px 0px 0px;">GH</ion-badge>
          <ion-badge *ngIf="pesce.ghAlert" color="danger" slot="end" style="margin: 0px 5px 0px 0px;">GH</ion-badge>

          <!--BADGE TEMPERATURE -->
          <ion-badge *ngIf="!pesce.temperatureAlert" color="success" slot="end" style="margin: 0px 5px 0px 0px;">Temperature</ion-badge>
          <ion-badge *ngIf="pesce.temperatureAlert" color="danger" slot="end" style="margin: 0px 5px 0px 0px;">Temperature</ion-badge>
        </div>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
