<form #form="ngForm" (ngSubmit)="processForm(form)" novalidate>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label position="stacked" [color]="!pesce_commonname.valid && pesce_commonname.touched ? 'danger' : ''">Nome pesce</ion-label>
        <ion-input placeholder="utilizza il suo nome comune" [(ngModel)]="modelSearch.nomePesce" required="true" minlength="3" #pesce_commonname="ngModel" name="pesce_commonname"></ion-input>
      </ion-item>
      <span class="ion-padding" *ngIf="!pesce_commonname.valid && pesce_commonname.touched">
        <ion-text class="helper-error" color="danger">Inserisci il nome con almeno 3 lettere</ion-text>
      </span>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button class="ion-padding-end ion-padding-start" [disabled]="!form.valid || pesciservice.isLoading" expand="block" type="submit" color="primary"><ion-icon slot="start" name="search-outline"></ion-icon>Cerca</ion-button>
    </ion-col>
  </ion-row>
  <ion-progress-bar *ngIf="pesciservice.isLoading" type="indeterminate"></ion-progress-bar>
</form>

<ion-item-divider class="from-body"></ion-item-divider>
<ion-content>

  <!-- messaggio di warning senza risultati -->
  <ion-card *ngIf="formProcessed && !pesciservice.isLoading && array_pesci.length == 0" color="warning">
    <ion-card-header>
      <ion-card-subtitle>
        Nessun pesce trovato con questo nome
      </ion-card-subtitle>
    </ion-card-header>
  </ion-card>


  <ion-list>

    <ion-item (click)="onClick(pesce)" [routerLink]="['/selezione-oggetto']" *ngFor="let pesce of array_pesci">
      <ion-label>
        {{pesce.commonname}}
        <p><small>Zona di origine: <b>{{pesce.originzone}}</b></small></p>
      </ion-label>
    </ion-item>

      <!-- commonname: "Marbled headstander"
      id: 0
      origin: "Orinoco and amazon river"
      originzone: "South America"
      scientificname: "Abramites hypselonotus"
      synonimous: "Leporinus hypselonotus, Abramites hypselonotus hypselonotus, Lepor -->
  </ion-list>
</ion-content>
