<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title classclass="ion-text-center"> Creare account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary">
  <div class="ion-margin">
    <form #form="ngForm" (ngSubmit)="processForm(form)" novalidate>
      <ion-list-header>
        <ion-label classclass="ion-text-center">Il tuo account </ion-label>
      </ion-list-header>

      <!--Nome-->
      <ion-list>
        <ion-item color="secondary">
          <ion-label position="floating">Nome</ion-label>
          <ion-input [(ngModel)]="model.nome" maxlength="64" name="nome" #nome="ngModel" required></ion-input>
        </ion-item>
        <ion-list *ngIf="nome.dirty && nome.errors" lines="none">
          <ion-text color="danger" class="ion-margin-start ion-margin-end"
            >Questo campo è obbligatorio</ion-text
          >
        </ion-list>
      </ion-list>
      <!--
        <ion-list>
          <ion-item>
            <ion-label position="floating" >Cognome</ion-label>
            <ion-input [(ngModel)]="model.cognome" maxlength="64" name="cognome" #cognome="ngModel" required></ion-input>
          </ion-item>
          <ion-list *ngIf="cognome.dirty && cognome.errors" lines="none">
            <ion-text color="danger" class="ion-margin-start ion-margin-end">Questo campo è obbligatorio</ion-text>
          </ion-list>
        </ion-list>
        <ion-list>
          <ion-item>
            <ion-label>Sesso</ion-label>
          <ion-select >
            <ion-select-option value="M">M</ion-select-option>
            <ion-select-option value="F">F</ion-select-option>
          </ion-select>
          </ion-item>
          </ion-list>
          -->
      
      <!--Email-->
      <ion-list>
        <ion-item color="secondary">
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" [(ngModel)]="model.email" pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})"
              maxlength="64" name="email" #email="ngModel" required></ion-input>
        </ion-item>
        <ion-list *ngIf="email.dirty && email.errors" lines="none">
          <ion-text color="danger" class="ion-margin-start ion-margin-end">Questo campo è obbligatorio</ion-text>
        </ion-list>
      </ion-list>
      <!--
        <ion-list>
          <ion-item>
            <ion-label position="floating" >Conferma Email</ion-label>
            <ion-input type="email" [(ngModel)]="model.confermaemail"  pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})"  maxlength="64" name="confermaemail" #confermaemail="ngModel" required></ion-input>
          </ion-item>
          <ion-list *ngIf="model.confermaemail!=model.email" lines="none">
            <ion-text color="danger" class="ion-margin-start ion-margin-end">le password non coincidono</ion-text>
          </ion-list>

          <ion-list *ngIf="confermaemail.dirty && confermaemail.errors" lines="none">
            <ion-text color="danger" class="ion-margin-start ion-margin-end">Questo campo è obbligatorio</ion-text>
          </ion-list>
        </ion-list>
        -->

      <!--Password-->
      <ion-list>
        <ion-item color="secondary">
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" [(ngModel)]="model.password" maxlength="64" name="password" #password="ngModel" required></ion-input>
        </ion-item>
        <ion-list *ngIf="password.dirty && password.errors" lines="none">
          <ion-text color="danger" class="ion-margin-start ion-margin-end">Questo campo è obbligatorio</ion-text>
        </ion-list>
      </ion-list>

      <!--Conferma Password-->
      <ion-list>
        <ion-item color="secondary">
          <ion-label position="floating">Conferma Password</ion-label>
          <ion-input type="password" maxlength="64" name="confermapassword" [(ngModel)]="model.confermapassword" #confermapassword="ngModel" required></ion-input>
        </ion-item>
        <ion-list *ngIf="model.confermapassword!=model.password" lines="none">
          <ion-text color="danger" class="ion-margin-start ion-margin-end">le password non coincidono</ion-text>
        </ion-list>
        <ion-list *ngIf="confermapassword.dirty && confermapassword.errors" lines="none">
          <ion-text color="danger" class="ion-margin-start ion-margin-end">Questo campo è obbligatorio</ion-text>
        </ion-list>
      </ion-list>

      <!--Check Accetta Termini-->
      
      <ion-list class="ion-margin-top">
        <ion-item color="secondary">
          <ion-checkbox [(ngModel)]="model.privacy" name="privacy" #privacy="ngModel" required></ion-checkbox>
          <ion-label classclass="ion-text-center">Accetta i termini </ion-label>
        </ion-item>
        <!--ion-item>
          <ion-label>
            <p class="item-paragraph-full">
              Welcome to the Google Privacy Policy When you use Google services,
              you trust us with your information. This Privacy Policy is meant to
              help you understand what data we collect, why we collect it, and
              what we do with it. This is important; we hope you will take time to
              read it carefully. And remember, you can find controls to manage
              your information and protect your privacy and security at My
              Account. Privacy Policy
            </p>
          </ion-label>
        </ion-item--> 
      </ion-list>

      
      <ion-footer class="ion-no-border">
        <ion-toolbar color="secondary">
          <ion-row>
            <ion-col size="12" class="ion-text-center">
              <ion-button color="light" type="submit" expand="block" [disabled]="!form.valid" >
                Crea il tuo profilo MyAcquarium
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-toolbar>
      </ion-footer>
    </form>
  </div>
</ion-content>
