<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Misure acquario</ion-title>
    <ion-buttons slot="end">
      <!--ion-button>
        <ion-icon slot="icon-only" name="pencil-outline"></ion-icon>
      </ion-button-->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-item>
        <ion-label>Temperature</ion-label>
        <ion-checkbox color="primary" checked slot="end"></ion-checkbox>
      </ion-item>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="stacked">Decimal account</ion-label>
              <ion-input placeholder="placeholder"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Unit name</ion-label>
              <ion-select placeholder="Seleziona">
                <ion-select-option value="f">Female</ion-select-option>
                <ion-select-option value="m">Male</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-checkbox slot="end"></ion-checkbox>
              <ion-label>Value range</ion-label>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-label position="floating">Min</ion-label>
            <ion-input></ion-input>
          </ion-col>
          <ion-col>
            <ion-label position="floating">Max</ion-label>
            <ion-input></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-checkbox slot="end"></ion-checkbox>
              <ion-label>Optimal value range</ion-label>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-label position="floating">Min</ion-label>
            <ion-input></ion-input>
          </ion-col>
          <ion-col>
            <ion-label position="floating">Max</ion-label>
            <ion-input></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-checkbox slot="end"></ion-checkbox>
              <ion-label>Show warning</ion-label>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-checkbox slot="end"></ion-checkbox>
              <ion-label>Negative values</ion-label>
            </ion-item>
          </ion-col>
        </ion-row> 
      </ion-grid>
    </ion-card-content>
  </ion-card>  
</ion-content>

<ion-row>
  <ion-col size="12" class="ion-text-center">
    <ion-button [routerLink]="['/aggiungi']">Salva misurazione</ion-button>
  </ion-col>
</ion-row>
