.row-header {background-color:#3880ff;color:#fff;}
.row-header .dateM {text-align: center;text-transform: uppercase;font-weight: bold;}
.row-header .valoreM {text-align: center;text-transform: uppercase;font-weight: bold;}
.row-header .unitaM {text-align: center;text-transform: uppercase;font-weight: bold;}

.row-content {border: 1px solid #3880ff;border-top: none;}
.row-content .dateM {border-right: 1px solid #3880ff;text-align: center;}
.row-content .valoreM {border-right: 1px solid #3880ff;text-align: center;}
.row-content .unitaM {border-right: 1px solid #3880ff;text-align: center;}