<ion-header color="secondary"></ion-header>
<p>
  
  <ion-slides *ngIf="pesce.fishImages.length>0">
    <ion-slide-page *ngFor="let fImage of pesce.fishImages" style="width: 100%;padding: 15px;">
          <img src="{{fImage.url}}" style="border-radius: 10px;">
    </ion-slide-page>
  </ion-slides>

  <ion-card>
    <ion-list>
      <ion-list-header>
        <ion-label class="ion-text-center">{{pesce.commonName}}</ion-label>
      </ion-list-header>

      <ion-list-header><ion-label class="ion-text-center">Classificazione scientifica</ion-label>
      </ion-list-header>
      
      <ion-item>
        <ion-label>Dominio:	{{pesce.dominio}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Regno:	{{pesce.regno}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Phylum:{{pesce.phylum}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Classe	{{pesce.classe}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Ordine	{{pesce.ordine}}</ion-label>
      </ion-item>
    </ion-list>
    <ion-list-header>
      <ion-label class="ion-text-center">Nomenclatura trinomiale</ion-label>
</ion-list-header>
<ion-item>
  <ion-label class="ion-text-center">Carassius auratus auratus</ion-label>
</ion-item>
<ion-item>
  <ion-label class="ion-text-center">Linnaeus, 1758</ion-label>
</ion-item>
<ion-list-header>
  <ion-label class="ion-text-center">Nomi comuni</ion-label>
</ion-list-header>
<ion-item>
<ion-label class="ion-text-center">Carassio rosso</ion-label>
</ion-item>
<ion-item>
  <ion-label class="ion-text-center">Ciprino dorato</ion-label>
</ion-item>
<ion-row>
  <ion-col size="12" class="ion-text-center">
    <ion-button [routerLink]="['/aggiungi']"
      >Aggiungi
      </ion-button>
  </ion-col>
</ion-row>

    
  </ion-card>
  
</p>
