
.title-list-header {
    font-size: 24px;
    font-weight: bolder;
}
.item-paragraph-full {
    white-space: pre-wrap;
}
.item-paragraph-size-lg {
    font-size: 20px;
    font-weight: bolder;
    display: block;
    margin: 10px 0;
}
.item-divider {
    min-height: 2px !important;
}