<form #form="ngForm" (ngSubmit)="processForm(form)" novalidate>

   <!--CAMPI UTILI PER LA RICERCA-->

<ion-row>
  <ion-col>
    <ion-item>
      <ion-label position="stacked"[color]="!piante_commonname.valid && piante_commonname.touched ? 'danger' : ''">Nome pianta</ion-label>
      <ion-input placeholder="utilizza il suo nome comune"  [(ngModel)]="modelSearch.nomePiante" required="true" minlength="3" #piante_commonname="ngModel" name="piante_commonname"></ion-input>
    </ion-item>
    <span class="ion-padding" *ngIf="!piante_commonname.valid && piante_commonname.touched">
      <ion-text class="helper-error" color="danger">Inserisci il nome con almeno 3 lettere</ion-text>
    </span>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <ion-item color="secondary">
      <ion-checkbox [(ngModel)]="modelSearch.validoVasca" name="validoVasca" #validoVasca="ngModel"></ion-checkbox>
      <ion-label classclass="ion-text-center">Valido per la vasca </ion-label>
    </ion-item>
  </ion-col>
</ion-row>

<!--BUTTON PER AVVIARE LA RICERCA-->
<ion-row>
  <ion-col>
    <ion-button class="ion-padding-end ion-padding-start" [disabled]="!form.valid || pianteservice.isLoading" expand="block" type="submit" color="primary"><ion-icon slot="start" name="search-outline"></ion-icon>Cerca</ion-button>
  </ion-col>
</ion-row>

<!--IMMAGINE DEL CARICAMENTO-->
<ion-progress-bar *ngIf="pianteservice.isLoading" type="indeterminate"></ion-progress-bar>
</form>
<ion-item-divider class="from-body"></ion-item-divider>
 <ion-content>

  <!-- messaggio di warning senza risultati 
  <ion-card *ngIf="formProcessed && !pianteservice.isLoading && array_piante.length == 0" color="warning">
    <ion-card-header>
      <ion-card-subtitle>
        Nessuna pianta trovato con questo nome
      </ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  -->
  
  <!-- LISTA DEI RISULTATI DELLA RICERCA DI UNA PIANTA-->
  <ion-list>

    <ion-item (click)="onClick(piante)" [routerLink]="['/selezione-oggetto']" *ngFor="let piante of array_piante">
      <ion-label>
        <!-- PARTE IMMAGINE -->
         <div *ngIf="piante.plantImages.length != 0" style="width: 20%;float:left;">
          <img src="{{piante.plantImages[0].thumbUrl}}" style="width:100%">
        </div>
        <div *ngIf="piante.plantImages.length == 0" style="width: 20%;float:left;">
          <img src="assets/img/icon-plant.png/" style="width:100%">
        </div>
        <!-- PARTE TESTO -->
        <div style="width: 80%;padding:0px 5px;float:right">
          <!--p><small>Nome comune: <b>{{piante.commonName}}</b></small></p-->
          <p><small>Nome scientifico: <b>{{piante.scientificName}}</b></small></p>
          <p><small>Zona di origine: <b>{{piante.originZone}}</b></small></p>
        </div>

        <div style="width: 100%;padding:5px 5px 0px 0px;float:left">
          <!--BADGE PH -->
          <ion-badge *ngIf="!piante.phAlert" color="success" slot="end" style="margin: 0px 5px 0px 0px;">PH</ion-badge>
          <ion-badge *ngIf="piante.phAlert" color="danger" slot="end" style="margin: 0px 5px 0px 0px;">PH</ion-badge>

          <!--BADGE GH -->
          <ion-badge *ngIf="!piante.ghAlert" color="success" slot="end" style="margin: 0px 5px 0px 0px;">GH</ion-badge>
          <ion-badge *ngIf="piante.ghAlert" color="danger" slot="end" style="margin: 0px 5px 0px 0px;">GH</ion-badge>
          
          <!--BADGE KH -->
          <ion-badge *ngIf="!piante.khAlert" color="success" slot="end" style="margin: 0px 5px 0px 0px;">KH</ion-badge>
          <ion-badge *ngIf="piante.khAlert" color="danger" slot="end" style="margin: 0px 5px 0px 0px;">KH</ion-badge>
          
          <!--BADGE HEIGHT -->
          <ion-badge *ngIf="!piante.heightAlert" color="success" slot="end" style="margin: 0px 5px 0px 0px;">Altezza</ion-badge>
          <ion-badge *ngIf="piante.heightAlert" color="danger" slot="end" style="margin: 0px 5px 0px 0px;">Altezza</ion-badge>

          <!--BADGE TEMPERATURE -->
          <ion-badge *ngIf="!piante.temperatureAlert" color="success" slot="end" style="margin: 0px 5px 0px 0px;">Temperatura</ion-badge>
          <ion-badge *ngIf="piante.temperatureAlert" color="danger" slot="end" style="margin: 0px 5px 0px 0px;">Temperatura</ion-badge>
        </div>
      </ion-label>
    </ion-item>

      <!-- commonname: "Marbled headstander"
      id: 0
      origin: "Orinoco and amazon river"
      originzone: "South America"
      scientificname: "Abramites hypselonotus"
      synonimous: "Leporinus hypselonotus, Abramites hypselonotus hypselonotus, Lepor -->
  </ion-list>
</ion-content>
